!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
      %title Results
      %meta{:content => "", :name => "description"}
        %meta{:content => "Jay Wang", :name => "author"}
          %link{:href => "../../assets/stylesheets/bootstrap.css", :rel => "stylesheet"}
            :css
              body {
                padding-top: 10px;
              }
  %body
    .container
      .hero-unit
        %h1 3. Results
        %p
        %p
        %br
        %table.table.table-striped.table-bordered.table-condensed
          %thead
            %tr
              %th Major(s)
              %th Minor(s)
              %th Certificate(s)
              %th Location
              %th Company
              %th Industry
              %th Salary
              %th GPA 
              %th c/o:
          %tbody
            - @data2.each do |person, info|
              - temp = info 
              %tr
                %td
                  - if temp[1] != "none"
                    = temp[0] + ", " + temp[1]
                  - else
                    = temp[0]
                %td
                  - if temp[3] != "none"
                    = temp[2] + ", " + temp[3]
                  - else 
                    = temp[2]             
                %td
                  - if temp[5] != "none"
                    = temp[4] + ", " + temp[5]
                  - else
                    = temp[4] 
                %td
                  = temp[6]
                %td
                  = temp[7]
                %td
                  = temp[8]
                %td
                  = temp[9]     
                %td
                  = temp[10]
                %td
                  = temp[11] 
        .row
          %p
          %p
          %p
          %p        
          #home_button #{link_to "Try Another Combination?", '/get_academic', id: "home_button", class: "btn btn-large btn-primary"}                                  
